<!DOCTYPE html>
<html>
<head>
    <title>File Management</title>
</head>
<body>
    <div>
        <a href="/">Back...</a>
    </div>
    <h2>Upload File</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

    <h2>Files</h2>
    <ul>
        {% for file in files %}
            <li>{{ file }} <a href="/delete/{{ file }}">Delete</a></li>
        {% endfor %}
    </ul>

    <form action="/reprocess" method="post">
        <input type="submit" value="Reprocess Files">
    </form>
</body>
</html>
